
@media (max-width : 900px){
    .main-cards{
        display: grid;
        grid-template-columns: auto auto ;
        grid-row-gap: 20px;
    }
    .cartMenu{
        background-color: #abf1f3;
        color: white;
        width: 50vw;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        transform: all 1s ease 0s;
    }
}


@media (max-width : 840px){
    .logo h1 {
        display: flex;
    }

    .nav-items{
        display: none;
    }

    .openMenu{
        display: block;
    }

    .mblMenu{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mbl-nav-items{
        list-style: none;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
    }

    .mbl-nav-items li a{
        text-decoration: none;
        color: #83d9dc;
        font-size: 22px;
       
    }

    .closeMenu {
        color: #83d9dc;
        position: absolute;
        top: 20px;
        right: 30px;
    }

    .banner img {
        width: 100%;
        height: 45vh;
    }

    .cards{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
     }

     .card{
        width: 100%;
     }

    .footer{
        height: 350PX;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .footer-right{
        display: none;
    }
    .footer-left p{
        text-align: center;
        margin-bottom: 20px;
    }
    .footer-bottom{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .f-icons{
        margin: 4px 0px;
        display: flex;
    }

    .main-cards{
        margin-left: 16px;
        grid-template-columns: auto ;
        
    }
}

