*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: space-around;
    height: 13vh;
    align-items: center;
    position: sticky;
    top: 0;
    background-color:#0e6d83;
}

.logo h1{
    color: #83d9dc;
}
.openMenu{
    color: #83d9dc;
    display: none;
    
}

.nav-items{
    display: flex;
    list-style: none;
}

.active{
    text-decoration: underline;
}

.nav-items li a {
    padding: 0px 22px;
    text-decoration: none;
    font-size: 22px;
    color: #83d9dc;
}

.cart{
    display: flex;
    align-items: center;
}

.cart h1{
    color: #83d9dc;
    cursor: pointer;
}
.count {
    background-color: #1f2937;
    color: white;
    font-size: 14px;
    padding: 2px;
    border-radius: 100%;
    margin-top: -30px;
    margin-left: -10px;
}

.mblMenu{
    display: none;
    background-color: #e4f1ee;
    width: 100%;
    height: 80vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 1s ease 0s;
}


.banner img{
    width: 100%;
    height: 90vh;
}


.Cards{
   display: flex;
   justify-content: space-around;
}

.card{
    margin: 50px 0px 0px 0px;
    width: 23vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    justify-content: space-around;
}

.card p{
    text-align: center;
    color: rgba(75,85,99);
    line-height: 180%;
    font-size: 18px;
}

.card a {
    color: #83d9dc;
    text-decoration: none;
}

.card a i{
    font-size: 12px;
}

.icon{
    color: #83d9dc;
}

.icon-circle{
    width: 100px;
    height: 100px;
    background-color: #e4f1ee;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    height: 400px;
    display: flex;
    align-items: center;

}

.footer-left{
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer-left p{
    color: #1f2937;

}

.footer-right{
    width: 70vw;
    display: flex;
    justify-content: center;

}

.left{
    display: flex;
    flex-direction: column;
    margin: 0px 50px;

}

.left a{
    padding: 4px 0px;
    text-decoration: none;
    font-size: 18px;
    color: #1f2937;
}

.footer-bottom{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaebec;

}
      
.f-icons i {
    font-size: 26px;
    padding: 0px 6px;
    cursor: pointer;
}

.f-icons , .footer-bottom p {
    margin: 0px 60px;
}

.main-container{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    margin: 25px auto;

}

.main-cards{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 20px;
}

.main-card{
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 0px 19px gray;
    margin: 5px 10px;
}

.main-card img{
    height: 150px;
    transition: all 1s ease 0s;
}

.main-card img:hover{
    transform: scale(1.4);
}

.main-card h3{
    color: #83d9dc;
    font-size: 22px;
    margin-bottom: 6px;
}

.main-card p{
    color: rgb(163, 161, 161);
    margin-bottom: 6px;
}

.main-card button{
    background-color: #83d9dc;
    color: white;
    padding: 4px 8px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.cartMenu{
    background-color: #83d9dc;
    color: white;
    width: 20vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 1s ease 0s;
}

.CloseCart{
    position: absolute;
    top: 15px;
    right: 20px;
}

.cart-items{
    margin-top: 60px;
    margin-left: 25px;
}

.cart-items li {
    font-size: 18px;
    padding: 5px 0px;
}

.total{
    list-style: none;
}

